argocd.tools.brentgruber.com {
    reverse_proxy 100.105.40.218:32346
}

argo-workflows.tools.brentgruber.com {
    reverse_proxy 100.105.40.218:32346
}

grafana.tools.brentgruber.com {
    reverse_proxy 100.105.40.218:32346
}

longhorn.tools.brentgruber.com {
    reverse_proxy 100.105.40.218:32346
}
